[submodule "turbo-vision-4-rust"]
	path = turbo-vision-4-rust
	url = https://github.com/aovestdipaperino/turbo-vision-4-rust.git
[submodule "bruto-ide"]
	path = bruto-ide
	url = https://github.com/aovestdipaperino/bruto-ide.git
[submodule "bruto-pascal-lang"]
	path = bruto-pascal-lang
	url = https://github.com/aovestdipaperino/bruto-pascal-lang.git
